*
!.gitignore
!LICENSE
!README.md
!unix/
!unix/bashrc
!unix/bin/
!unix/bin/_cdwd
!unix/bin/lswd
!unix/bin/rmwd
!unix/bin/rmallwd
!unix/bin/shwd
!unix/bin/svwd
!windows/
!windows/build.cmd
!windows/bin/
!windows/bin/cdwd.cmd
!windows/bin/cdwd.ps1
!windows/bin/lswd.cmd
!windows/bin/lswd.ps1
!windows/bin/rmwd.cmd
!windows/bin/rmwd.ps1
!windows/bin/rmallwd.cmd
!windows/bin/rmallwd.ps1
!windows/bin/shwd.cmd
!windows/bin/shwd.ps1
!windows/bin/svwd.cmd
!windows/bin/svwd.ps1
