*
!.gitignore
!LICENSE
!README.md
!wdmgr.cpp
!unix/
!unix/Makefile
!unix/bashrc
!unix/bin/
!unix/bin/_wdmgr-cdwd
!windows/
!windows/build.cmd
!windows/bin/
!windows/bin/cdwd.cmd
!windows/bin/cdwd.ps1
!windows/bin/lswd.cmd
!windows/bin/lswd.ps1
!windows/bin/rmwd.cmd
!windows/bin/rmwd.ps1
!windows/bin/svwd.cmd
!windows/bin/svwd.ps1
